<!-- Student Profile -->
<div class="student-profile py-4">
  <h1 class="text-primary">Profile</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card ">
            <div class="card-header  text-center">
              <img class="profile_img" src="https://wallpapercave.com/wp/wp6617438.jpg" alt="">
              <h3>{{data.userDetails.name}}</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-2">User Name:</strong> {{data.userDetails.name}}</p>
              <p class="mb-0"><strong class="pr-2 pt-3">Phone No: </strong>{{data.userDetails.number}}</p>
              <p class="mb-0"><strong class="pr-2 mt-3">Gmail: </strong>{{data.userDetails.email}}</p>
            </div>
          </div>
        </div>
       
  