<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restraunt</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <section class="showcase-area" id="showcase">
    <div class="showcase-container">
      <h1 class="main-title" id="home">Event <span style="color:#FA496E">Management System</span></h1>
      <p style="font-size: 15px;">Best Platform to Book Events.</p>
      <a  class="btn btn-primary" (click)="navigators()">Event Book</a>
    </div>
  </section>

  <section id="about">
    <div class="about-wrapper container">
      <div class="about-text">
        <p class="small text-dark">Hello Everyone</p>
        <h3 style="font-size:23px " class="text-dark">We've been Managing Events Since 2022</h3>
        <p class="text-dark">
          We take care of all the logistics and work with you to design a highly personal and unforgettable Celebration. 

          We are known for our ability to provide concierge style service at local or destination events, our meticulous attention to detail and innovative designs. Our high-touch event designs have drawn the attention of high profile publications and are described as thoughtfully produced, understated, effortless, luxurious and elegant.
        </p>
      </div>
      <div class="about-img">
        <img src="https://images.shiksha.com/mediadata/images/articles/1583747992phpzaxKKK.jpeg" alt="food" />
      </div>
    </div>
  </section>
  <section id="food">
    <h2 class="text-dark mt-5">Types of <span style="color:#FA496E">Events</span></h2>
    <div class="food-container container">
      <div class="food-type fruite">
        <div class="img-container">
          <img
            src="https://content.jdmagicbox.com/comp/ernakulam/m4/0484px484.x484.140206113128.a9m4/catalogue/we-create-events-panampilly-nagar-ernakulam-event-management-companies-nsobpzm660.jpg?clr=123354"
            alt="error" />
          <div class="img-content">
            <h3>Parties</h3>
            <a routerLink="/sign-in" class="btn btn-primary"
              target="blank">Book Event</a>
          </div>
        </div>
      </div>
      <div class="food-type vegetable">
        <div class="img-container">
          <img src="https://content.jdmagicbox.com/comp/ernakulam/m4/0484px484.x484.140206113128.a9m4/catalogue/we-create-events-panampilly-nagar-ernakulam-event-management-companies-nsobpzm660.jpg?clr=123354" alt="error" />
          <div class="img-content">
            <h3>Birthday</h3>
            <a routerLink="/sign-in" class="btn btn-primary" target="blank">Book Event</a>
          </div>
        </div>
      </div>
      <div class="food-type grin">
        <div class="img-container">
          <img src="https://www.brandeis.edu/university-events/images/home/usdan-levin-ballroom.jpg" alt="error" />
          <div class="img-content">
            <h3>Marriage</h3>
            <a routerLink="/sign-in" class="btn btn-primary" target="blank">Book Event</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="food" >
    <div class="food-container container" >
      <div class="food-type fruite" style="margin-bottom: 90px;">
        <div class="img-container">
          <img
            src="https://www.avpartners.com/wp-content/uploads/2016/11/Resized-copy-1.jpg"
            alt="error" />
          <div class="img-content">
            <h3>Concert</h3>
            <a routerLink="/sign-in" class="btn btn-primary"
              target="blank">Book Event</a>
          </div>
        </div>
      </div>
      <div class="food-type vegetable">
        <div class="img-container">
          <img src="https://www.resourcesgroups.com/wp-content/uploads/2011/03/corporate.jpg" alt="error" />
          <div class="img-content">
            <h3>Seminars</h3>
            <a routerLink="/sign-in" class="btn btn-primary" target="blank">Book Event</a>
          </div>
        </div>
      </div>
      <div class="food-type grin">
        <div class="img-container">
          <img src="https://www.pingpongmoments.in/blog/wp-content/uploads/2022/09/corporate-events-3.jpg" alt="error" />
          <div class="img-content">
            <h3>Meeting</h3>
            <a routerLink="/sign-in" class="btn btn-primary" target="blank">Book Event</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="food-menu text-dark">
    <h2 class="food-menu-heading text-dark" >Events <span style="color:#FA496E">Organizer</span></h2>
    <div class="food-menu-container container">
      <div class="food-menu-item">
        <div class="food-img">
          <img src="https://www.thebigday.co.in/wp-content/uploads/2021/01/Corporate-Events.jpg" alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile text-dark">Wedding Event</h2>
          <p class="text-dark">
            An elegant winter wedding ceremony and reception going into the New Year.
          </p>

        </div>
      </div>

      <div class="food-menu-item">
        <div class="food-img">
          <img src="https://5.imimg.com/data5/HW/LT/MY-4024530/birthday-party-events-services-500x500.jpg"
            alt="error" />
        </div>
        <div class="food-description">
          <h2 class="food-titile text-dark">Functions</h2>
          <p class="text-dark">
            A classic winter wedding with white and champagne details at The Bell Tower.
          </p>

        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img
            src="https://www.aicaevents.com/wp-content/uploads/2020/09/Garden_birthday_party_decoration_by_aicaevents_TPG1closeup.jpg"
            alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile text-dark">Marriage Event</h2>
          <p class="text-dark">
            A modern winter wedding with trendy details and boho decor.
          </p>

        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img
            src="https://sicilyevents.com/wp-content/uploads/elementor/thumbs/special_events_dinner-set-up-pgaizsx08qhozupfduco0byy7t7k6zncdlroitx8l4.jpg"
            alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile text-dark">Collage Event</h2>
          <p class="text-dark">
             Celebration of marriage is the name used for a big party to celebrate the marriage union.
          </p>

        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img src="https://about-events.com/wp-content/uploads/2020/08/slider-events.jpg" alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile text-dark">Party Event</h2>
          <p class="text-dark">
             Celebration of marriage is the name used for a big party to celebrate the marriage union.
          </p>

        </div>
      </div>
      <div class="food-menu-item">
        <div class="food-img">
          <img
            src="https://www.aicaevents.com/wp-content/uploads/2020/03/birthday_party_decoration_and_Photography_by_aicaevents_@aicaevents-call-916-984-9999-more-details-visit-www.aicaevents.com-33.jpg"
            alt="" />
        </div>
        <div class="food-description">
          <h2 class="food-titile text-dark">Birthday Event</h2>
          <p class="text-dark">
             Celebration of marriage is the name used for a big party to celebrate the marriage union.
          </p>

        </div>
      </div>
    </div>
  </section>
  <section id="testimonials">
    <h2 class="testimonial-title text-dark">What <span style="color:#FA496E">Our Customer Says</span></h2>
    <div class="testimonial-container container">
      <div class="testimonial-box">
        <div class="customer-detail">
          <div class="customer-photo">
            <img src="https://i.postimg.cc/5Nrw360Y/male-photo1.jpg" alt="" />
            <p class="customer-name">Juned</p>
          </div>
        </div>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          I contacted Event Zuber Solutions to host a Seminar and I was more than happy to see the results!
        </p>

      </div>
      <div class="testimonial-box">
        <div class="customer-detail">
          <div class="customer-photo">
            <img src="https://i.postimg.cc/sxd2xCD2/female-photo1.jpg" alt="" />
            <p class="customer-name">Aishwarya</p>
          </div>
        </div>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          I really enjoyed working with Event Solutions! Denise and Nikki were professional, available, flexible, and extremely organized.
        </p>

      </div>
      <div class="testimonial-box">
        <div class="customer-detail">
          <div class="customer-photo">
            <img src="https://i.postimg.cc/fy90qvkV/male-photo3.jpg" alt="" />
            <p class="customer-name">Farhan</p>
          </div>
        </div>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          I am typically the one that plans all of our company events and I will say this is one event that I was able to sit back and enjoy.
        </p>

      </div>
    </div>
  </section>


</body>
<!-- 
    .................../ JS Code for smooth scrolling /...................... -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links
    $("a").on("click", function (event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top,
          },
          800,
          function () {
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          }
        );
      } // End if
    });
  });
</script>

</html>