<section class="about" id="about">
    <div class="container">
        <div class="heading text-center">
            <h2>About
                <span>Us</span></h2>
            <p>Event management is the process of planning, organizing, and executing events such as conferences, weddings, festivals, and concerts.
                <br>
                The goal of event management is to create a seamless and memorable experience.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="https://warisevents.com/images/slider/slider2.jpg" alt="about" class="img-fluid" style="height: 370px;" width="100%">
            </div>
            <div class="col-lg-6">
                <h3>We Make Your Event Special</h3>
                <p>Event management is the process of planning, organizing, and executing events such as conferences, weddings, festivals, and concerts.
                    The goal of event management is to create a seamless and memorable experience..</p>
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Awesome Design</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Creative Design</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Better Client Service</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Digital Marketing & Branding</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Creative Design</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Speed And Flexibility</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
<div id="generic_price_table">   
  <section>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <!--PRICE HEADING START-->
                      <div class="price-heading clearfix">
                          <h1 class="text-dark">Plan <span style="color:#F24259">Pricing </span></h1>
                      </div>
                      <!--//PRICE HEADING END-->
                  </div>
              </div>
          </div>
          <div class="container">
              
              <!--BLOCK ROW START-->
              <div class="row">
                  <div class="col-md-4">
                  
                    <!--PRICE CONTENT START-->
                      <div class="generic_content clearfix">
                          
                          <!--HEAD PRICE DETAIL START-->
                          <div class="generic_head_price clearfix">
                          
                              <!--HEAD CONTENT START-->
                              <div class="generic_head_content clearfix">
                              
                                <!--HEAD START-->
                                  <div class="head_bg"></div>
                                  <div class="head">
                                      <span>Basic</span>
                                  </div>
                                  <!--//HEAD END-->
                                  
                              </div>
                              <!--//HEAD CONTENT END-->
                              
                              <!--PRICE START-->
                              <div class="generic_price_tag clearfix">  
                                  <span class="price">
                                      <span class="sign">₹</span>
                                      <span class="currency">1Lakh</span>
                                      <span class="cent"></span>
                                      
                                  </span>
                              </div>
                              <!--//PRICE END-->
                              
                          </div>                            
                          <!--//HEAD PRICE DETAIL END-->
                          
                          <!--FEATURE LIST START-->
                          <div class="generic_feature_list">
                            <ul>
                              <li><span>Average </span>Video Graphy</li>
                                <li><span>Basic</span> Decoration</li>
                                  <li> Music and Photos</li>
                                  <li>Food and Drinks</li>
                                  <li><span>24/7</span> Support</li>
                              </ul>
                          </div>
                          <!--//FEATURE LIST END-->
                          
                          <!--BUTTON START-->
                          <div class="generic_price_btn clearfix">
                            <a class="" (click)="navigator()">Check Now</a>
                          </div>
                          <!--//BUTTON END-->
                          
                      </div>
                      <!--//PRICE CONTENT END-->
                          
                  </div>
                  
                  <div class="col-md-4">
                  
                    <!--PRICE CONTENT START-->
                      <div class="generic_content active clearfix">
                          
                          <!--HEAD PRICE DETAIL START-->
                          <div class="generic_head_price clearfix">
                          
                              <!--HEAD CONTENT START-->
                              <div class="generic_head_content clearfix">
                              
                                <!--HEAD START-->
                                  <div class="head_bg"></div>
                                  <div class="head">
                                      <span>Standard</span>
                                  </div>
                                  <!--//HEAD END-->
                                  
                              </div>
                              <!--//HEAD CONTENT END-->
                              
                              <!--PRICE START-->
                              <div class="generic_price_tag clearfix">  
                                  <span class="price">
                                      <span class="sign">₹</span>
                                      <span class="currency">2Lakh</span>
                                      >
                                  </span>
                              </div>
                              <!--//PRICE END-->
                              
                          </div>                            
                          <!--//HEAD PRICE DETAIL END-->
                          
                          <!--FEATURE LIST START-->
                          <div class="generic_feature_list">
                            <ul>
                              <li><span>Basic </span>Video Graphy</li>
                                  <li><span>Top</span> Decoration</li>
                                  <li>Dj Stage</li>
                                  <li>Food and Drinks</li>
                                  
                                  <li><span>24/7</span> Support</li>
                              </ul>
                          </div>
                          <!--//FEATURE LIST END-->
                          
                          <!--BUTTON START-->
                          <div class="generic_price_btn clearfix">
                            <a class="" (click)="navigator()">Check Now</a>
                          </div>
                          <!--//BUTTON END-->
                          
                      </div>
                      <!--//PRICE CONTENT END-->
                          
                  </div>
                  <div class="col-md-4">
                  
                    <!--PRICE CONTENT START-->
                      <div class="generic_content clearfix">
                          
                          <!--HEAD PRICE DETAIL START-->
                          <div class="generic_head_price clearfix">
                          
                              <!--HEAD CONTENT START-->
                              <div class="generic_head_content clearfix">
                              
                                <!--HEAD START-->
                                  <div class="head_bg"></div>
                                  <div class="head">
                                      <span>Unlimited</span>
                                  </div>
                                  <!--//HEAD END-->
                                  
                              </div>
                              <!--//HEAD CONTENT END-->
                              
                              <!--PRICE START-->
                              <div class="generic_price_tag clearfix">  
                                  <span class="price">
                                      <span class="sign">₹</span>
                                      <span class="currency">3Lakh</span>
                                      
                                  </span>
                              </div>
                              <!--//PRICE END-->
                              
                          </div>                            
                          <!--//HEAD PRICE DETAIL END-->
                          
                          <!--FEATURE LIST START-->
                          <div class="generic_feature_list">
                              <ul>
                                  <li><span>Best </span>Video Graphy</li>
                                    <li><span>Top</span> Decoration</li>
                                    <li>Dj Stage</li>
                                    <li>Food and Drinks</li>
                                    
                                    <li><span>24/7</span> Support</li>
                                </ul>
                            </div>
                          <!--//FEATURE LIST END-->
                          
                          <!--BUTTON START-->
                          <div class="generic_price_btn clearfix">
                            <a class="" (click)="navigator()">Check Now</a>
                          </div>
                          <!--//BUTTON END-->
                          
                      </div>
                      <!--//PRICE CONTENT END-->
                          
                  </div>
              </div>  
              <!--//BLOCK ROW END-->
              
          </div>
      </section>             
  
  </div>
  
  
  
</section>