

  <main>
  <!-- Trusted -->



  <!-- Content -->
  
  <section id="intro">
      
      <div class="container">
        
            
      
            
          
          <div class="row">
              <div class="col-sm-6">
                  
                  <h2>Lets Make Your Event<br>Remember Forever.</h2>

                  <p>We are known for our ability to provide concierge style service at local or destination events, our meticulous attention to detail and innovative designs. Our high-touch event designs have drawn the attention of high profile publications and are described as thoughtfully produced, understated, effortless, luxurious and elegant.</p>
             
                  
             
              </div>

              <div class="col-sm-6 ">
                  <img src="https://i.pinimg.com/originals/e4/c1/59/e4c159d2a89c019916b8fafebb237c41.jpg"   class="img-right mb-5"   alt="">
                  </div>
              </div>
          </div>
  </section>

  <section id="features">
      <div class="container">
          <div class="row">
              

              <div class="col-sm-6">
                  <img src="https://image.wedmegood.com/resized/800X/uploads/member/1681689/1608803523_HD_DECOR__497_.jpg" class="img-left" alt="">
                  </div>

                  <div class="col-sm-6">
                      <p class="kicker">Fully Intergrated</p>
                      <h2>Manage Your Event.</h2>
  
                      <p>We are known for our ability to provide concierge style service at local or destination events, our meticulous attention to detail and innovative designs. Our high-touch event designs have drawn the attention of high profile publications and are described as thoughtfully produced, understated, effortless, luxurious and elegant.</p>
                 
                  </div>
              </div>
          </div>
  </section>
  
  <!-- Pricing Cards -->

  <section id="pricing">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <p class="kicker">Trusted Worldwide</p>
                  <h2>Our plans For Event </h2>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          </div>
          <div class="row mt-lg">
              <div class="col-sm-4">
                  <div class="card text-center">
                      <h3>Basic Plan</h3>
                      <p class="mb-sm">Best option for Birthday Parties Basic Support.</p>

                      <div class="card-price">
                        <span class="price " style="font-size:20px;">₹ 100000/-</span>
                          </div>

                          <ul role="list">
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Individual configuration</span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>No setup, or hidden fees</span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                               <span>Music and <span class="font-semibold color-black">Photos</span></span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Food and <span class="font-semibold color-black">Drinks</span></span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Invitation <span class="font-semibold color-black">Cards</span></span>
                              </li>
                              </ul>

                              <a  class="btn btn-primary full-width" (click)="navigator()">Get Started</a>
                  </div>
              </div>

              <div class="col-sm-4">
                  <div class="card text-center">
                      <h3>Pro Plan</h3>
                      <p class="mb-sm">Best Option for Get Together premium support.</p>

                      <div class="card-price">
                        <span class="price " style="font-size:20px;">₹ 200000/-</span>
                          </div>

                          <ul role="list">
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Full Service</span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>No setup, or hidden fees</span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                               <span>Music and <span class="font-semibold color-black">Photos</span></span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Food and <span class="font-semibold color-black">Drinks</span></span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Invitation <span class="font-semibold color-black">Cards</span></span>
                              </li>
                              </ul>

                              <a  class="btn btn-primary full-width" (click)="navigator()">Get Started</a>
                  </div>
              </div>

              <div class="col-sm-4">
                  <div class="card text-center">
                      <h3>Premium Plan</h3>
                      <p class="mb-sm">Best for large Events Like Wedding ,Webinars.</p>

                      <div class="card-price">
                          <span class="price" style="font-size:20px; ">₹ 300000/-</span>
                          
                          </div>

                          <ul role="list">
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Full Service</span>
                              </li>
                              <li>
                           
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>No setup, or hidden fees</span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                               <span>Music and <span class="font-semibold color-black">Photos</span></span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Food and <span class="font-semibold color-black">Drinks</span></span>
                              </li>
                              <li>
                              
                              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                              <span>Invitation <span class="font-semibold color-black"> Cards</span></span>
                              </li>
                              </ul>

                              <a  class="btn btn-primary full-width color-black" (click)="navigator()">Get Started</a>
                  </div>
              </div>
          </div>
      </div>
  </section>



  </main>

