<section class="about" id="about">
    <div class="container">
        <div class="heading text-center">
            <h2>About
                <span>Us</span></h2>
            <p>Event management is the process of planning, organizing, and executing events such as conferences, weddings, festivals, and concerts.
                <br>
                The goal of event management is to create a seamless and memorable experience.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="https://warisevents.com/images/slider/slider2.jpg" alt="about" class="img-fluid" style="height: 370px;" width="100%">
            </div>
            <div class="col-lg-6">
                <h3>We Make Your Event Special</h3>
                <p>Event management is the process of planning, organizing, and executing events such as conferences, weddings, festivals, and concerts.
                    The goal of event management is to create a seamless and memorable experience..</p>
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Awesome Design</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Creative Design</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Better Client Service</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Digital Marketing & Branding</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Creative Design</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Speed And Flexibility</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing5 py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h3 class="mb-3">Pricing to make your Work Effective</h3>
              <h6 class="subtitle font-weight-normal">We offer 100% satisafaction and Money back Guarantee</h6>
              <div class="switcher-box mt-4">
             
              </div>
            </div>
          </div>
          <div class="row text-center pricing-box">
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4" style="background:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/p5-img1.jpg)no-repeat">
                <div class="card-body">
                  <h6 class="text-white mt-1 mb-0">BASE PACK</h6>
                  <h2 class="text-white mt-0 monthly">₹100000</h2>
                  <h2 class="text-white mt-0 yearly">$1000</h2>
                  <ul class="general-listing">
                    <li class="py-3 d-block">
                      <h5 class="font-weight-normal">Individual configuration</h5>
                      <h6 class="subtitle font-weight-normal">Premium images / Day</h6>
                    </li>
                    <li class="py-3 d-block">
                      <h5 class="font-weight-normal">Video Graphy</h5>
                      <h6 class="subtitle font-weight-normal">Video Footage / Day</h6>
                    </li>
                    <li class="py-3 d-block">
                      <h5 class="font-weight-normal">No setup, or hidden fees</h5>
                      <h6 class="subtitle font-weight-normal">Can access the site</h6>
                    </li>
                    <li class="py-3 d-block">
                        <h5 class="font-weight-normal">Music and Photos</h5>
                        <h6 class="subtitle font-weight-normal">Can access the site</h6>
                      </li>
                  </ul>
                  <a class="btn btn-outline-success btn-md rounded-pill mb-3" href="#f1"><span>BUY BASIC</span></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 middle-box">
              <div class="card card-shadow border-0 mb-4" style="background:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/p5-img2.jpg)no-repeat">
                <div class="card-body">
                  <h6 class="text-white mt-1 mb-0">PRO PACK</h6>
                  <h2 class="text-white mt-0 monthly">₹200000</h2>
                  <h2 class="text-white mt-0 yearly">$2000</h2>
                  <div class="star-plan mt-3"><img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/star.png" alt="wrapkit" /></div>
                  <ul class="general-listing">
                    <li class="py-3 d-block">
                      <h5 class="font-weight-normal">Full Service</h5>
                      <h6 class="subtitle font-weight-normal">Premium images / Day</h6>
                    </li>
                    <li class="py-3 d-block">
                      <h5 class="font-weight-normal">Music and Photos</h5>
                      <h6 class="subtitle font-weight-normal">Video Footage / Day</h6>
                    </li>
                    <li class="py-3 d-block">
                      <h5 class="font-weight-normal">Food and Drinks</h5>
                      <h6 class="subtitle font-weight-normal">Can access the site</h6>
                    </li>
                    <li class="py-3 d-block">
                        <h5 class="font-weight-normal">No setup, or hidden fees</h5>
                        <h6 class="subtitle font-weight-normal">Can access the site</h6>
                      </li>
                  </ul>
                  <a class="btn btn-success-gradiant btn-md text-white rounded-pill mb-3" href="#f1"><span>BUY Pro</span></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4" style="background:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/pricing/p5-img3.jpg)no-repeat">
                <div class="card-body">
                  <h6 class="text-white mt-1 mb-0">Premium PACK</h6>
                  <h2 class="text-white mt-0 monthly">₹300000</h2>
                  <h2 class="text-white mt-0 yearly">$3000</h2>
                  <ul class="general-listing">
                    <li class="d-block py-3">
                      <h5 class="font-weight-normal">Advance Service</h5>
                      <h6 class="subtitle font-weight-normal">Premium images / Day</h6>
                    </li>
                    <li class="d-block py-3">
                      <h5 class="font-weight-normal">Unlimited Videos</h5>
                      <h6 class="subtitle font-weight-normal">Video Footage / Day</h6>
                    </li>
                    <li class="d-block py-3">
                      <h5 class="font-weight-normal">Unlimited Food</h5>
                      <h6 class="subtitle font-weight-normal">Can access the site</h6>
                    </li>
                    <li class="py-3 d-block">
                        <h5 class="font-weight-normal">No setup, or hidden fees</h5>
                        <h6 class="subtitle font-weight-normal">Can access the site</h6>
                      </li>
                  </ul>
                  <a class="btn btn-outline-success btn-md rounded-pill mb-3" href="#f1"><span>BUY Premium</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>