
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
        initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  
    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">
  
    <title>
        Place two bootstrap cards next to each other
    </title>

</head>
<div class=" pt-2 pb-2" style="align-items: baseline;">
  <h1 class="page-title" class="main-title text-center"><span class="text-primary">Admin </span> Dashboard</h1>
</div>
<div class="row">
  <div class="col-lg-4">
<div class="card text-white bg-primary mb-3 " style="max-width: 18rem;">
  <div class="card-header">All Bookings</div>
  <div class="card-body">
    <h5 class="card-title">Total Bookings</h5>
    <p class="card-text">Total: {{bookingCount}}</p>
  </div>
</div></div> <div class="col-lg-4">
<div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">
  <div class="card-header">All Registered User</div>
  <div class="card-body">
    <h5 class="card-title">Total Users</h5>
    <p class="card-text">Total: {{userCount}}</p>
  </div>
</div></div><div class="col-lg-4">
<div class="card text-white bg-success  mb-3" style="max-width: 18rem;">
  <div class="card-header">Success Booking</div>
  <div class="card-body">
    <h5 class="card-title">Successfully Booked</h5>
    <p class="card-text">Total:10</p>
  </div>
</div></div>
<div class="col-lg-4">
  <div class="card text-white   mb-3" style=" background-color: #f04788; max-width: 18rem;">
    <div class="card-header">Basic Plan Users</div>
    <div class="card-body">
      <h5 class="card-title">Basic Plan</h5>
      <p class="card-text">Total:{{this.c}}</p>
    </div>
  </div></div>
  <div class="col-lg-4">
    <div class="card text-white   mb-3" style="background-color: #d4a58d; max-width: 18rem;">
      <div class="card-header">Pro Plan Users</div>
      <div class="card-body">
        <h5 class="card-title">Pro Plan</h5>
        <p class="card-text">Total:{{this.Pro}}</p>
      </div>
    </div></div>
    <div class="col-lg-4">
      <div class="card text-white bg-info  mb-3" style="max-width: 18rem;">
        <div class="card-header">Premium Plan Users</div>
        <div class="card-body">
          <h5 class="card-title">Premium Plan</h5>
          <p class="card-text">Total:{{this.Premium}}</p>
        </div>
      </div></div>

</div>