
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
        initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  
    <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
         crossorigin="anonymous">
  
    <title>
        Place two bootstrap cards next to each other
    </title>

</head>
<div class="row">
  <div class="col-lg-4">
<div class="card text-white bg-primary mb-3 " style="max-width: 18rem;">
  <div class="card-header">All Bookings</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Total:50</p>
  </div>
</div></div> <div class="col-lg-4">
<div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">
  <div class="card-header">All Registered User</div>
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Total:50</p>
  </div>
</div></div><div class="col-lg-4">
<div class="card text-white bg-success  mb-3" style="max-width: 18rem;">
  <div class="card-header">Success Booking</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Total:5</p>
  </div>
</div></div>


</div>