<section class="services section-bg" id="services">
	<div class="container">
	  <header class="section-header">
		<h3 class="mb-5">Our Services</h3>
  
		
	  </header>
  
	  <div class="row">
		<div class="col-md-6 col-lg-4">
		  <div class="box">
			<div class="icon" style="background: #000;">
			  <i class="fa fa-briefcase service-icon" style="color: #fa446a;"></i>
			</div>
  
			<h4 class="title"><a href="">Venue Selection</a></h4>
  
			<p class="description">With every last detail taken care of, we're here to ensure the day you've always dreamed of will be the day you'll never forget.</p>
		  </div>
		</div>
  
		<div class="col-md-6 col-lg-4">
		  <div class="box">
			<div class="icon" style="background: #000;">
			  <i class="fa fa-clipboard service-icon" style="color: #fa446a;"></i>
			</div>
  
			<h4 class="title"><a href="">Invitation Card</a></h4>
  
			<p class="description">With every last detail taken care of, we're here to ensure the day you've always dreamed of will be the day you'll never forget.</p>
		  </div>
		</div>
  
		<div class="col-md-6 col-lg-4">
		  <div class="box">
			<div class="icon" style="background: #000;">
			  <i class="fa fa-chart-bar service-icon" style="color: #fa446a;"></i>
			</div>
  
			<h4 class="title"><a href="">Entertainment</a></h4>
  
			<p class="description">With every last detail taken care of, we're here to ensure the day you've always dreamed of will be the day you'll never forget.</p>
		  </div>
		</div>
  
		<div class="col-md-6 col-lg-4">
		  <div class="box">
			<div class="icon" style="background: #000;">
			  <i class="fa fa-binoculars service-icon" style="color: #fa446a;"></i>
			</div>
  
			<h4 class="title"><a href="">Food and Drinks</a></h4>
  
			<p class="description">With every last detail taken care of, we're here to ensure the day you've always dreamed of will be the day you'll never forget.</p>
		  </div>
		</div>
  
		<div class="col-md-6 col-lg-4">
		  <div class="box">
			<div class="icon" style="background: #000;">
			  <i class="fa fa-cog service-icon" style="color:#fa446a;"></i>
			</div>
  
			<h4 class="title"><a href="">Photos and Videos</a></h4>
  
			<p class="description">With every last detail taken care of, we're here to ensure the day you've always dreamed of will be the day you'll never forget.</p>
		  </div>
		</div>
  
		<div class="col-md-6 col-lg-4">
		  <div class="box">
			<div class="icon" style="background: #000;">
			  <i class="fa fa-calendar-alt service-icon" style="color: #fa446a;"></i>
			</div>
  
			<h4 class="title"><a href="">Custom Foods</a></h4>
  
			<p class="description">With every last detail taken care of, we're here to ensure the day you've always dreamed of will be the day you'll never forget.</p>
		  </div>
		</div>
  
  
	  </div>
	</div>
  </section>